#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

main {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}